.mount-div{
    margin-bottom: 200px;
}

/* Styles for the container */
.container {
    background-color: #ffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 ;
  }
  
  /* Styles for the labels */
  .label {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  /* Styles for text input fields */
  .text-input {
    padding-top: 10px;
    margin-bottom: 12px;
    padding: 0px 0px 0px 0px;
   
  }
  
  /* Styles for the select dropdown */
  .select {
    width: 100%;
    margin-bottom: 12px;
  }

  /* Styles for the form submit button */
  .subscribe-button:hover{
    background-color:gray;
  }
  .subscribe-button {
    margin-top: 20px;
    color: #fff; /* White text color */
    background-color: rgb(41, 233, 3);
    border: none;
    border-radius: 4px;
    padding: 10px 210px;
    cursor: pointer;
  }
  
  /* Add more styles for other elements as needed */
  